{% for answer in answers %}
    <li class="mb-4">
        <div class="d-flex justify-content-center w-100">
            <div class="me-2 pt-2">
                <img src="{{ asset('images/tisha.png') }}" width="50" height="50" alt="Tisha avatar">
            </div>
            <div class="me-3 pt-2 flex-grow-1">
                {{ answer.content }}
                <p>-- Mallory</p>
            </div>
            <div>
                <small>{{ answer.createdAt|ago }}</small>
                <div class="vote-arrows flex-fill pt-2 js-vote-arrows" style="min-width: 90px;">
                    <a class="vote-up" id="vote" href="#" data-id="{{ answer.id }}" data-direction="up"><i class="far fa-arrow-alt-circle-up"></i></a>
                    <a class="vote-down" id="vote" href="#" data-id="{{ answer.id }}" data-direction="down"><i class="far fa-arrow-alt-circle-down"></i></a>
                    <span class="js-vote-total">{{ answer.votes }}</span>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
